<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">

	<context:annotation-config/>
	<context:component-scan base-package="com.mimaraslan"/>
		
	<bean id="beanOgrenci" class="com.mimaraslan.Ogrenci">
		<property name="adi" value="Müesser"/>
		<property name="soyadi" value="Sabuncuoğlu"/>
		<property name="numarasi" value="1453"/>
	</bean>
	
	<bean id="beanDers" class="com.mimaraslan.Ders">
		<property name="dersAdi" value="Spring MVC"/>
		<property name="puan" value="85"/>
	<!-- 	<property name="ogrenci" ref="beanOgrenci"/> -->
	</bean>
	
	

	
</beans>